.navigation {
  background-color: gray;
  width: 100%;

}

li .selected {
  background-color: white;
}

.title {
  font: 2em "Open Sans", sans-serif;
}

.overview {
  background-color: green;
  padding: 5px

}

.projects {
  background-color: blue;
  padding: 5px
}

.task {
  background-color: yellow;
  padding: 5px
}

.notes {
  background-color: red;
  padding: 5px
}