<div id="container">
  <!-- Navigation Panel -->
  <nav class="navigation">
    <ul>
      <li>
        <a class="selected" href="#/overview">overview</a>
      </li>
      <li>
        <a href="#/projects">projects</a>
      </li>
      <li>
        <a href="#/tasks">tasks</a>
      </li>
      <li>
        <a href="#/notes">notes</a>
      </li>
    </ul>
  </nav>
  <!-- Overview Panel -->
  <div class="overview">
    <h2>Overview</h2>
    <form>
      <input type="text" ng-model="projectName">Project Name</input>
      <input type="date" ng-model="startingDate">start</input>
      <input type="date" ng-model="finishDate">finish</input>
      <button>add project</button>
    </form>
  </div>
</div>

<pre>
{{projectName}}
{{startingDate}}
{{finishDate}}
</pre>