<div id="container">
  <!-- Navigation Panel -->
  <nav class="navigation">
    <ul>
      <li>
        <a class="selected" href="#/overview">overview</a>
      </li>
      <li>
        <a href="#/projects">projects</a>
      </li>
      <li>
        <a href="#/tasks">tasks</a>
      </li>
      <li>
        <a href="#/notes">notes</a>
      </li>
    </ul>
  </nav>
  <!-- Overview Panel -->
  <div class="overview">
    <h2>Overview</h2>

    <form name="addProject" ng-submit="addNewProject()" novalidate>
      <input type="text" ng-model="project.projectName">Project Name</input>
      <input type="date" ng-model="project.startingDate">Starting Date</input>
      <input type="date" ng-model="project.finishDate">Finish Date</input>
      <button>add project</button>
    </form>

    <div> 
      <ul name="projectList">
        <li ng-repeat="project in projects track by $index">
          <a href="#/projects"  ng-click="setCurrentProject(project.projectName)">{{project.projectName}}</a>
          <p>Starting Date: {{project.startingDate}}</p>
          <p>Finish Date: {{project.finishDate}}</p>
        </li>
      </ul>
    </div>

  </div>
</div>

<pre>
{{project.projectName}}
</pre>