<div id="container">
  <!-- Navigation Panel -->
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a href="#/overview">Overview</a>
      </li>
      <li>
        <a href="#/project">Project</a>
      </li>
      <li class="active">
        <a href="#/task">Task</a>
      </li>
      <li>
        <a href="#/note">Note</a>
      </li>
    </ul>
  </nav>
  <!-- Task Panel -->
  <div class="task">

    <form class="navbar-form" name="addNote" ng-submit="addNewNote()" novalidate>
      <label>Title: </label>
      <input type="text" class="form-control" ng-model="note.noteTitle">
      <label>Details: </label>
      <input type="text" class="form-control" ng-model="note.text">
      <label>URL: </label>
      <input type="text" class="form-control" ng-model="note.url">
      <button type="submit" class="btn btn-default">Add Note</button>
    </form>

    <!-- Note Thumnails-->
    <div class="row">
      <div class="container-fluid" name="noteList">
        <div class="col-xs-6 col-sm-3" ng-repeat="note in notes track by $index">
          <div class="thumbnail">
            <!-- <a href="#/project"  ng-click="setCurrentProject(project.projectName)">{{project.projectName}}</a> -->
            <img src={{note.url}}>
            <h4>{{note.noteTitle}}</h4>
            <p>{{note.text}}</p>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>